@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<address>
<abbr title="Phone">P:</abbr>
    267-294-6880
<abbr title="EMail">E:</abbr>
    rbleattler@gmail.com
</address>
<div><p>You can also find me at any of the sites linked on the home page!</p></div>

