@page
@model IndexModel
@{
    ViewData["Title"] = "Robert Bleattler's Portfolio Site";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        body {
            background-color: #f0f0f2;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        a {
            
        }

        div {
            /**/
        }

         .block {
            width: auto;
            margin: 5em auto;
            padding: 50px;
            background-color: #fff;
            border-radius: 1em;
        }

        table {
            table-layout: fixed;
            width: 100%;
        }

        .fa {
            padding: 10px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }

            .fa:hover {
                opacity: 0.7;
            }

        /* LinkedIn */
        .fa-linkedin {
            background: #007bb5;
            color: #f0f0f2;
        }
        /* 500px */
        .fa-500px {
            background: #000000;
            color: white;
        }
        /* GitHub */
        .fa-github {
            background: darkgrey;
            color: white;
        }
        /* Spiceworks */
    .fa-spiceworks {
        background-image: url('./images/Spiceworks_48px_color.png');
        background-position: center;
        background-repeat: no-repeat;
        padding: 30px;
        width: 50px;
        height: auto;
    }
    </style>
<body>
    <div class=block>
        <h1 align="center"> Under Construction</h1>
        <p align="center">While the site is currently under construction, you can still use the links below to find out more about me, or check out the links in the navigation section.</p><br />
        <p>
            <table align="center">
                <tr>
                    <td align="Center"><a href="https://500px.com/rbleattler" class="fa fa-500px" target="_blank" /></td>
                    <td align="Center"><a href="https://www.linkedin.com/in/rbleattler/" class="fa fa-linkedin" target="_blank" /></td>
                    <td align="Center"><a href="https://github.com/rbleattler" class="fa fa-github" target="_blank" /></td>
                    <td align="Center"><a href="https://community.spiceworks.com/people/rbleattler" class="fa fa-spiceworks" target="_blank" /></td>
                </tr>
                <tr>
                    <td align="Center">500px</td>
                    <td align="Center">LinkedIn</td>
                    <td align="Center">GitHub</td>
                    <td align="Center">Spiceworks</td>
                </tr>
            </table>
        </p>
    </div>


</body>
